.favourite-btn{
    width: 45px;
    height:45px;
    color: white;
    background:none;
    border-radius: 30px;
    border: 1px solid black;
    display:flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 10px;
    top:10px;
    font-size: 30px;
    border:none;
}
 .favourite-btn:hover{
font-size:60px;
border:none;
color:yellow;
background-color: rgba(11, 10, 10, 0.059);

}
